/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/deprecated/
/production/tunebank.js
/production/tunebank-haskell.js
/production/haskell-backend-index.js
/production/tunebank.css
/production/assets
/production-responsive/
/production-v114/
/dist/tunebank.js
/dist/tunebank-haskell.js
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
