/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/deprecated/
/haskell-backend/
/production/tunebank.js
/production/assets
/dist/tunebank.js
/.psc-package/
/.psc*
/.purs*
/.psa*
